<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>FILE NOT FOUND</title>
  <link rel="stylesheet" href="/styles/index.css">
</head>
<body style="display: flex; flex-direction: column; height: 100vh;">
  <%- include("templates/navbar.ejs") %>
  <main class="not_found">
    FILE/DIRECTORY DOES NOT EXIST
  </main>
</body>
</html>